<app-header></app-header>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Recipes</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Bar Name</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of orderToDisplay">
        <tr style="cursor: pointer;" (click)="getRecipe(order.id)" data-toggle="modal"
          data-target="#myModal">
          <td>{{order.barName}}</td>
          <td>{{order.firstName}} {{order.lastName}}</td>
        </tr>
      </tbody>
      <nav *ngIf="orderToDisplay">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" style="cursor:pointer;" (click)="prev()">Previous</a>
          </li>
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
          <li class="page-item">
            <a class="page-link" style="cursor:pointer;" (click)="next()">Next</a>
          </li>
        </ul>
      </nav>
    </table>
  </div>
</div>

<app-footer></app-footer>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recipe List</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipeList">
              <td>{{recipe.name}} </td>
              <td>{{recipe.quantity}}</td>
              <td>{{recipe.category}}</td>
              <td class="options">
                <div class="dropdown dropdown-options">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon-info-circled text-primary" style="font-size: 1.35em;"></i></a>
                  <div class="dropdown-menu">
                    <h5>Info</h5>
                    <label>
                      Calories <span>{{recipe.calories}}</span>
                    </label>
                    <label>
                      Carb Calorie <span>{{recipe.carbCalorie}}</span>
                    </label>
                    <label>
                      Fat Calorie <span>{{recipe.fatCalorie}}</span>
                    </label>
                    <label>
                      Protein Calorie <span>{{recipe.proteinCalorie}}</span>
                    </label>
                    <label class="top-border">
                      RDA <span>{{recipe.rda}}%</span>
                    </label>
                    <label>
                      Portion Size <span>{{recipe.portionSize}}</span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" style="text-align: center; background: #DF4F67; margin-right: 195px; width: 150px;"
          data-dismiss="modal" (click)="placeOrder()">Order</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin"
  aria-hidden="true" style="margin-top: 30px;" style="position: fixed !important; top: 10px !important; right: 0; left: 0;">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a style="cursor: pointer;" class="close-link"><i class="fa fa-times"></i></a>
      <form action="#" class="popup-form" id="myLogin">
        <div class="login_icon"><i class="fa fa-lock"></i></div>
        <button class="btn btn-danger close-link" (click)="auth.googleLogin()">
          <i class="fa fa-google"></i> Connect Google
        </button>
      </form>
    </div>
  </div>
</div>