<app-header></app-header>

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">

    <div class="col-md-3">
      <!-- <p><a href="list_page.html" class="btn_side">Back to search</a></p> -->
      <div class="box_style_1">
        <h4 class="text-center"><b>Categories</b></h4>
        <ul id="cat_nav">
          <li *ngFor="let category of categories | async"><a (click)=changeCategory(category)>
              {{category.name}}</a>
          </li>
        </ul>
      </div><!-- End box_style_1 -->

      <div class="box_style_1">
        <h4 class="text-center"><b>User's Bar</b></h4>
        <ul id="cat_nav">
          <li *ngFor="let order of orders | async"><a (click)=changeBar(order)>
              {{order.barName}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box_style_2" id="main_menu">
        <h2 class="inner">Menu</h2>
        <h3 class="nomargin_top" id="starters" *ngIf="currentCategory">
          {{currentCategory}}
        </h3>
        <table class="table table-striped cart-list">
          <thead>
            <tr>
              <th>
                Item
              </th>
              <th>
                Info
              </th>
              <th *ngIf="type == 'cat'">
                Add
              </th>
              <th *ngIf="type == 'bar'">
                Quantity
              </th>
            </tr>
          </thead>
          <tbody *ngIf="type == 'cat'">
            <tr *ngFor="let ingredient of currentIngredients | async">
              <td>{{ingredient.name}}</td>
              <td class="options">
                <div class="dropdown dropdown-options">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon-info-circled text-primary" style="font-size: 1.35em;"></i></a>
                  <div class="dropdown-menu">
                    <h5>Info</h5>
                    <label>
                      Calories <span>{{ingredient.calories}}</span>
                    </label>
                    <label>
                      Carb Calorie <span>{{ingredient.carbCalorie}}</span>
                    </label>
                    <label>
                      Fat Calorie <span>{{ingredient.fatCalorie}}</span>
                    </label>
                    <label>
                      Protein Calorie <span>{{ingredient.proteinCalorie}}</span>
                    </label>
                    <label class="top-border">
                      RDA <span>{{ingredient.rda}}%</span>
                    </label>
                    <label>
                      Portion Size <span>{{ingredient.portionSize}}</span>
                    </label>
                  </div>
                </div>
              </td>
              <td>
                <input type="checkbox" (click)="addToList($event, ingredient)" id="{{getId(ingredient.name)}}"
                  [checked]="check(ingredient)">
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="type == 'bar'">
            <tr *ngFor="let recipe of currentRecipes">
              <td>{{recipe.name}}</td>
              <td class="options">
                <div class="dropdown dropdown-options">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon-info-circled text-primary" style="font-size: 1.35em;"></i></a>
                  <div class="dropdown-menu">
                    <h5>Info</h5>
                    <label>
                      Calories <span>{{recipe.calories}}</span>
                    </label>
                    <label>
                      Carb Calorie <span>{{recipe.carbCalorie}}</span>
                    </label>
                    <label>
                      Fat Calorie <span>{{recipe.fatCalorie}}</span>
                    </label>
                    <label>
                      Protein Calorie <span>{{recipe.proteinCalorie}}</span>
                    </label>
                    <label class="top-border">
                      RDA <span>{{recipe.rda}}%</span>
                    </label>
                    <label>
                      Portion Size <span>{{recipe.portionSize}}</span>
                    </label>
                  </div>
                </div>
              </td>
              <td>{{recipe.quantity}}</td>
              <!-- <td>
                <input type="checkbox" (click)="addToList($event, recipe)" id="{{getId(recipe.name)}}"
                  [checked]="check(recipe)">
              </td> -->
            </tr>
          </tbody>
        </table>
      </div><!-- End box_style_1 -->
    </div><!-- End col-md-6 -->

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div id="cart_box">
          <h3>Your order <i class="fa fa-cart-plus pull-right" style="font-size: 1.1em;"></i></h3>
          <table class="table table_summary" *ngIf="ingredientOrderList.length">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ingredientOrderList" style="font-size: 1.15em">
                <td class="col-md-6" style="padding: 2px;">
                  <a *ngIf="type == 'cat'" (click)="changeQuantity(item, 'minus')">
                    <i class="icon-minus-circled text-primary"></i>
                  </a>
                  {{item.quantity}}x
                  <a *ngIf="type == 'cat' && !item.plus" (click)="changeQuantity(item, 'plus')">
                    <i class="icon-plus-circled text-primary"></i>
                  </a>
                </td>
                <td class="col-md-3">{{item.name}}</td>
                <td *ngIf="type == 'cat'" class="col-md-1">
                  <strong class="pull-right text-danger">
                    <a (click)="removeItem(item)"><i class="icon-trash text-danger"></i></a>
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table_summary" *ngIf="ingredientOrderList.length">
            <thead>
              <tr>
                <th>Bar</th>
                <th>Bulk</th>
              </tr>
            </thead>
            <tbody>
              <td class="col-md-6">{{barWeight | number: '.2'}}gm</td>
              <td class="col-md-6">{{bulkWeight | number: '.2'}}gm</td>
            </tbody>
            <!-- <p>Bar: {{barWeight | number: '.2'}}</p> -->
            <!-- <p>Bulk: {{bulkWeight | number: '.2'}}</p> -->
          </table>
          <hr>
          <a class="btn_full" (click)="placeOrder()">Order now</a>
        </div><!-- End cart_box -->
      </div><!-- End theiaStickySidebar -->
    </div><!-- End col-md-3 -->

  </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <!-- <a style="cursor: pointer;" class="close-link"><i class="fa fa-times"></i></a> -->
      <form action="#" class="popup-form" id="myLogin">
        <div class="login_icon"><i class="fa fa-lock"></i></div>
        <h3>Please Login To Continue</h3>
        <button class="btn btn-danger" (click)="auth.googleLogin()">
          <i class="fa fa-google"></i> Connect Google
        </button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>