<!-- Footer ================================================== -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-3 text-center">
        <h3>Secure payments with</h3>
        <p>
          <img src="../../../assets/img/cards.png" alt="" class="img-responsive card-img">
        </p>
      </div>
      <div class="col-md-6 col-sm-3 text-center">
        <h3>About</h3>
        <ul>
          <li class="list-items"><a (click)="navigate('')">Home</a>&nbsp;</li>
          <li class="list-items"><a (click)="navigate('order')">Custom Bar</a>&nbsp;</li>
          <li class="list-items"><a (click)="navigate('aboutus')">About Us</a>&nbsp;</li>
          <li class="list-items"><a (click)="navigate('contactus')">Contact Us</a>&nbsp;</li>
        </ul>
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="icon-instagram"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><i class="icon-youtube-play"></i></a></li>
          </ul>
          <p>
            © Novel Bar {{year}}
          </p>
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->