<app-header></app-header>
<!-- Content ================================================== -->
<div class="container margin_60">
    <div id="tabs" class="tabs">
        <nav>
            <ul nav nav-tabs>
                <li>
                    <a data-toggle="tab" href="#section-1" class="icon-profile">
                        <span>Recipe Management</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#section-2" class="icon-menut-items">
                        <span>Ingredient Management</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#section-3" class="icon_profile">
                        <span>User Management</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#section-4" class="icon-settings">
                        <span>Order Management</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="tab-content content">

            <section id="section-1" class="tab-pane fade in active">

                <app-recipe-management></app-recipe-management>

                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recipe Management</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div> -->

            </section><!-- End section 1 -->

            <section id="section-2" class="tab-pane fade in">
                <app-ingredient-management></app-ingredient-management>
            </section><!-- End section 2 -->

            <section id="section-3" class="tab-pane fade in">
                <app-user-management></app-user-management>
            </section><!-- End section 3 -->


            <section id="section-4" class="tab-pane fade in">
                <app-order-management></app-order-management>
            </section><!-- End section 4 -->

        </div><!-- End content -->
    </div>
</div><!-- End container  -->
<!-- End Content =============================================== -->
<app-footer></app-footer>