<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div id="preloader" *ngIf="loadSpinner">
  <div class="sk-spinner sk-spinner-wave" id="status">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div><!-- End Preload -->


<!-- Header ================================================== -->
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col--md-4 col-sm-4 col-xs-4">
        <a href="index.html" id="logo">
          <!-- <img src="../../../assets/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs"> -->
          <!-- <img src="../../../assets/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm"> -->
          <h3 style="color: #fff; margin-top: 0;">Novel Bar</h3>
        </a>
      </div>
      <nav class="col--md-8 col-sm-8 col-xs-8">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"><span>Menu
            mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="../../../assets/img/logo.png" width="190" height="23" alt="" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
          <ul>
            <li>
              <a class="" style="cursor: pointer;" (click)="navigate('')">Home</a>
            </li>
            <li>
              <a class="" style="cursor: pointer;" (click)="navigate('order')">Custom
                Bar</a>
            </li>
            <li><a href="about.html">About us</a></li>
            <li><a href="faq.html">Faq</a></li>
            <li>
              <a class="show-submenu">Pages</a>
            </li>
            <li><a *ngIf="!user" href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>
            <li><a *ngIf="user" style="cursor: pointer;" (click)="logout()">Logout</a></li>
          </ul>
        </div><!-- End main-menu -->
      </nav>
    </div><!-- End row -->
  </div><!-- End container -->
</header>
<!-- End Header =============================================== -->

<!-- SubHeader =============================================== -->

<section class="parallax-window" id="home" data-parallax="scroll" data-image-src="../../../assets/img/home.jpg"
  data-natural-width="1400" data-natural-height="550">
  <div id="subheader">
    <div id="sub_content">
      <h1>Order Takeaway or Delivery Food</h1>
      <form method="post" action="list_page.html">
        <div id="custom-search-input">
          <div class="input-group ">
            <input type="text" class=" search-query" placeholder="Search Recipe">
            <span class="input-group-btn">
              <input type="submit" class="btn_search" value="submit">
            </span>
          </div>
        </div>
      </form>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
  <div id="count" class="hidden-xs">
    <ul>
      <li><span class="number">2650</span> Recipes</li>
      <li><span class="number">5350</span> People Served</li>
      <li><span class="number">12350</span> Registered Users</li>
    </ul>
  </div>
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a style="cursor: pointer;" class="close-link"><i class="fa fa-times"></i></a>
      <form action="#" class="popup-form" id="myLogin">
        <div class="login_icon"><i class="fa fa-lock"></i></div>
        <button class="btn btn-danger close-link" (click)="auth.googleLogin()">
          <i class="fa fa-google"></i> Connect Google
        </button>
      </form>
    </div>
  </div>
</div><!-- End modal -->

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-popup">
      <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
      <form action="#" class="popup-form" id="myRegister">
        <div class="login_icon"><i class="icon_lock_alt"></i></div>
        <input type="text" class="form-control form-white" placeholder="Name">
        <input type="text" class="form-control form-white" placeholder="Last Name">
        <input type="email" class="form-control form-white" placeholder="Email">
        <input type="text" class="form-control form-white" placeholder="Password" id="password1">
        <input type="text" class="form-control form-white" placeholder="Confirm password" id="password2">
        <div id="pass-info" class="clearfix"></div>
        <div class="checkbox-holder text-left">
          <div class="checkbox">
            <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
            <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
          </div>
        </div>
        <button type="submit" class="btn btn-submit">Register</button>
      </form>
    </div>
  </div>
</div><!-- End Register modal -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/common_scripts_min.js"></script>
<script src="js/functions.js"></script>
<script src="assets/validate.js"></script>