<app-header (queryEmitter)="search($event)"></app-header>
<!-- Content ================================================== -->
<div class="container margin_60">

  <div *ngIf="searchItems" class="row">
    <div class="col-md-6" *ngFor="let item of searchItems">
      <a class="strip_list" (click)="getRecipe(item.id)" data-toggle="modal" data-target="#myModal">
        <div class="ribbon_1">Popular</div>
        <div class="desc" style="padding-left: 50px !important;">
          <!-- <div class="thumb_strip">
              <img src="../../../assets/img/thumb_restaurant.jpg" alt="">
            </div> -->
          <div class="rating">
            <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
          </div>
          <h3>{{item.barName}}</h3>
          <div class="type">
            {{item.firstName}} {{item.lastName}}
          </div>
          <ul>
            <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
            <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
          </ul>
        </div>
      </a>
    </div>
  </div>

  <div class="main_title">
    <h2 class="nomargin_top" style="padding-top:0">How it works</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="box_home" id="one">
        <span>1</span>
        <h3>Search by formula</h3>
        <p>
          Find all formula's available by other customers.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="two">
        <span>2</span>
        <h3>Customize your order</h3>
        <p>
          We have more than 1000s of recipes online.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="three">
        <span>3</span>
        <h3>Pay by card or cash</h3>
        <p>
          It's quick, easy and totally secure.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="four">
        <span>4</span>
        <h3>Delivery or takeaway</h3>
        <p>
          You are lazy? Are you backing home?
        </p>
      </div>
    </div>
  </div><!-- End row -->

  <div id="delivery_time" class="hidden-xs">
    <strong><span>2</span><span>5</span></strong>
    <h4>The minutes that usually takes to deliver!</h4>
  </div>
</div><!-- End container -->

<div class="white_bg">
  <div class="container margin_60">

    <div class="main_title">
      <h2 class="nomargin_top">Choose from Most Popular</h2>
    </div>


    <div class="row">
      <div *ngFor="let order of orderList | async; let idx = index" class="col-md-6">
        <a *ngIf="idx < 6" class="strip_list" (click)="getRecipe(order.id)" data-toggle="modal"
          data-target="#myModal">
          <div class="ribbon_1">Popular</div>
          <div class="desc" style="padding-left: 50px !important;">
            <!-- <div class="thumb_strip">
              <img src="../../../assets/img/thumb_restaurant.jpg" alt="">
            </div> -->
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>{{order.barName}}</h3>
            <div class="type">
              {{order.firstName}} {{order.lastName}}
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>
      </div>
    </div>

    <!-- 
    <div class="row">
      <div class="col-md-6">
        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/dates.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Dates</h3>
            <div class="type">
              Dried Fruit
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>

        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/beans.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Beans</h3>
            <div class="type">
              Veggies
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>

        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/cereal.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Cereal</h3>
            <div class="type">
              Bulk
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/cashews.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Cashews</h3>
            <div class="type">
              Nuts
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>
        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/walnuts.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Walnuts</h3>
            <div class="type">
              Nuts
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>
        <a class="strip_list">
          <div class="ribbon_1">Popular</div>
          <div class="desc">
            <div class="thumb_strip">
              <img src="../../../assets/img/almond.jpg" alt="">
            </div>
            <div class="rating">
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i><i class="fa fa-star star"></i>
              <i class="fa fa-star star"></i><i class="fa fa-star star"></i>
            </div>
            <h3>Almonds</h3>
            <div class="type">
              Nuts
            </div>
            <ul>
              <li>Take away <span class="icon"><i class="fa fa-motorcycle"></i></span></li>
              <li>Delivery <span class="icon"><i class="fa fa-home"></i></span></li>
            </ul>
          </div>
        </a>
      </div>
    </div> -->

  </div><!-- End container -->
</div><!-- End white_bg -->

<div class="high_light">
  <div class="container">
    <h3>Choose from over 2,000 Recipes</h3>
    <a (click)="viewAllRecipes()">View all Recipes</a>
  </div><!-- End container -->
</div><!-- End hight_light -->

<section class="parallax-window" data-parallax="scroll" data-image-src="../../../assets/img/home.jpg"
  data-natural-width="1200" data-natural-height="600">
  <div class="parallax-content">
    <div class="sub_content">
      <i class="fa fa-beer-o"></i>
      <h3>We also deliver to your office</h3>
    </div><!-- End sub_content -->
  </div><!-- End subheader -->
</section><!-- End section -->
<!-- End Content =============================================== -->

<div class="container margin_60">
  <!-- <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Work with Us</h2>
    <p>
      Cum doctus civibus efficiantur in imperdiet deterruisset.
    </p>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <a class="box_work" href="submit_restaurant.html">
        <img src="../../../assets/img/submit_restaurant.jpg" width="848" height="480" alt=""
          class="img-responsive">
        <h3>Submit your Restaurant<span>Start to earn customers</span></h3>
        <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam
          adversarium. Ea legere labore
          eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi
          partiendo pro te.</p>
        <div class="btn_1">Read more</div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="box_work" href="submit_driver.html">
        <img src="../../../assets/img/delivery.jpg" width="848" height="480" alt="" class="img-responsive">
        <h3>We are looking for a Driver<span>Start to earn money</span></h3>
        <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam
          adversarium. Ea legere labore
          eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi
          partiendo pro te.</p>
        <div class="btn_1">Read more</div>
      </a>
    </div>
  </div> -->
  <!--End row -->
</div><!-- End container -->
<app-footer></app-footer>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recipe List</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipeList">
              <td>{{recipe.name}} </td>
              <td>{{recipe.quantity}}</td>
              <td>{{recipe.category}}</td>
              <td class="options">
                <div class="dropdown dropdown-options">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <i class="icon-info-circled text-primary" style="font-size: 1.35em;"></i></a>
                  <div class="dropdown-menu">
                    <h5>Info</h5>
                    <label>
                      Calories <span>{{recipe.calories}}</span>
                    </label>
                    <label>
                      Carb Calorie <span>{{recipe.carbCalorie}}</span>
                    </label>
                    <label>
                      Fat Calorie <span>{{recipe.fatCalorie}}</span>
                    </label>
                    <label>
                      Protein Calorie <span>{{recipe.proteinCalorie}}</span>
                    </label>
                    <label class="top-border">
                      RDA <span>{{recipe.rda}}%</span>
                    </label>
                    <label>
                      Portion Size <span>{{recipe.portionSize}}</span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" style="text-align: center; background: #DF4F67;"
          data-dismiss="modal" (click)="placeOrder()">Order</button>
      </div>
    </div>

  </div>
</div>