<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7" style="margin-top: 8px;">
        <h3 class="panel-title">Ingredient Management</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" data-toggle="modal" data-target="#ingredientModal"
          (click)="add()">
          Add New Ingredient
        </button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" data-toggle="modal" data-target="#categoryModal">
          Add New Category
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Ingredient Name</th>
          <th>Category Name</th>
          <th>Calories</th>
          <th>Serving Size</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients | async">
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.category}}</td>
          <td>{{ingredient.calories}}</td>
          <td>{{ingredient.servingSize}}</td>
          <td>
            <a (click)=editIngredient(ingredient) href="#" data-toggle="modal" data-target="#ingredientModal">
              <span class="text-info" style="font-size: 1.15em"><i class="fa fa-edit fa-lg"></i></span>
            </a>
            &nbsp;&nbsp;
            <a (click)=deleteIngredient(ingredient) href="#" data-toggle="modal" data-target="#deleteModal">
              <span class="text-danger" style="font-size: 1.15em"><i class="fa fa-trash fa-lg"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
      <!-- <a (click)="loadNextIngredients()">Next</a> -->
      <!-- <a (click)="loadPrevIngredients()">Prev</a> -->
    </table>
  </div>
</div>

<!-- Ingredient Modal -->
<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ingredientModalLabel">Add Ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ingredientModal">
        <form (ngSubmit)="addIngredient()" [formGroup]="ingredientForm" style="margin: 30px 30px;">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputIngredientCategory">Select Category</label>
                <select class="form-control" id="inputIngredientCategory" formControlName="category">
                  <option *ngFor="let category of categories | async">{{category.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputUnhealthyFlag">Unhealthy Flag</label>
                <input type="number" max="10" class="form-control" id="inputUnhealthyFlag"
                  placeholder="Unhealthy Flag" formControlName="unhealthyFlag">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputIngredientName">Ingredient Name</label>
                <input type="text" class="form-control" id="inputIngredientName" placeholder="Ingredient Name"
                  formControlName="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputRda">RDA</label>
                <input type="text" class="form-control" id="inputRda" placeholder="RDA %"
                  formControlName="rda">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputServingSize">Serving Size</label>
                <input type="number" class="form-control" id="inputServingSize" placeholder="Serving Size"
                  formControlName="servingSize">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPortionSize">Portion Size</label>
                <input type="number" class="form-control" id="inputPortionSize" placeholder="Portion Size"
                  formControlName="portionSize">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPortionFlag">Flag If x > Portion</label>
                <input type="number" max="10" class="form-control" id="inputPortionFlag"
                  placeholder="Flag If x > Portion" formControlName="portionFlag">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputBitternessFlag">Bitterness Flag</label>
                <input type="text" class="form-control" id="inputBitternessFlag" placeholder="Bitterness Flag"
                  formControlName="bitternessFlag">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputCarbCalories">Carb Calories</label>
                <input type="number" class="form-control" id="inputCarbCalories" placeholder="Carb Calories"
                  formControlName="carbCalorie">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputFatCalories">Fat Calories</label>
                <input type="number" class="form-control" id="inputFatCalories" placeholder="Fat Calories"
                  formControlName="fatCalorie">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputProteinCalories">Protein Calories</label>
                <input type="number" class="form-control" id="inputProteinCalories"
                  placeholder="Protein Calories" formControlName="proteinCalorie">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputCalories">Calories</label>
                <input type="number" class="form-control" id="inputCalories" placeholder="Calories"
                  formControlName="calories">
              </div>
            </div>
          </div>
          <div *ngIf="loadingIngredient" class="loader"></div>
          <button type="submit" *ngIf="!edit" class="btn btn-primary">Add</button>
          <button type="submit" *ngIf="edit" class="btn btn-primary">Edit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Add Ingredient</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Ingredient Modal Finish -->


<!-- Category Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addCategory()" [formGroup]="categoryForm" style=" margin: 30px 30px;">
          <div class="form-group">
            <label for="inputCategory">Category</label>
            <input type="text" class="form-control" id="inputCategory" placeholder="Category"
              formControlName="name">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
        <div *ngIf="loadingCategory" class="loader"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Add Cateogry</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Category Modal Finish -->

<!-- Delete Model -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="delete()" style=" margin: 30px 30px;">
          <div class="form-group">
            <h5 class="text-danger" *ngIf="ingredientToDelete">
              Are you sure you want to delete <b>"{{ingredientToDelete}}"</b>?
            </h5>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal Finish -->