<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7" style="margin-top: 4px;">
        <h3 class="panel-title">Order Management</h3>
      </div>
      <div class="col-md-2" *ngIf="!dispatched">
        <button class=" btn btn-success" (click)="showDispatched()">
          Show Dispatched Orders
        </button>
      </div>
      <div class="col-md-2" *ngIf="dispatched">
        <button class="btn btn-success" (click)="showUndispatched()">
          Show Undispatched Orders
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Bar Name</th>
          <th>Customer Name</th>
          <th>Mobile No</th>
          <th>Delivery Time</th>
          <th>Delivery Day</th>
          <th>Payment Status</th>
          <th>Info</th>
          <th>View Order</th>
          <th *ngIf="!dispatched">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList | async">
          <td> {{order.barName}} </td>
          <td> {{order.firstName}} {{order.lastName}} </td>
          <td> {{order.mobile}} </td>
          <td> {{order.deliveryTime}} </td>
          <td> {{order.deliveryDay}} </td>
          <td> {{order.paymentStatus}} </td>
          <td>
            <button type="button" class="btn btn-dark" (click)="setCurrentOrder(order)"
              data-toggle="modal" data-target="#infoModal"><i class="fa fa-info"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="getRecipe(order.id)"
              data-toggle="modal" data-target="#myModal">View</button>
          </td>
          <td *ngIf="!dispatched">
            <button type="button" class="btn btn-success" (click)="dispatchOrder(order)">Dispatch</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Recipe List Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recipe List</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Categories</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recipe of recipeList">
              <td>{{recipe.name}} </td>
              <td>{{recipe.quantity}}</td>
              <td>{{recipe.category}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Info Modal -->
<div id="infoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order Information</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody *ngIf="currentOrder">
            <tr>
              <th>Bar Name</th>
              <td>{{currentOrder.barName}}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{currentOrder.city}}</td>
            </tr>
            <tr>
              <th>Postal Code </th>
              <td>{{currentOrder.postalCode}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{currentOrder.address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>